:root {
    font-size: 62.5%;
    --white-color: #ffffff;
    --light-grey-color: #e2e8f0;
    --light-blue-color: #1992d4;
    --orange-color: #f0b326;
    --black: black;
    --left-to-dashboard: 6rem;

}

@font-face {
    font-family: 'Roboto Flex';
    src: url('font/RobotoFlex.woff2') format('woff2-variations'),
        url('font/RobotoFlex.woff2') format('woff2') tech('variations');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}

body {
    font-family: "Roboto Flex";
    margin: 0;
    background-color: var(--light-grey-color);
    font-size: 1.6rem;
}

.container {
    background-color: var(--light-grey-color);
    display: grid;
    grid-template-columns: 24rem 5fr;
    grid-template-rows: 1fr 4fr;
}

.avatar {
    background-color: var(--light-blue-color);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

/* --------------------------sidebar---------------------------------- */

.sidebar {
    background-color: var(--light-blue-color);
    grid-row: 1 / 3;


    display: grid;
    grid-template: 3fr 2fr / 1fr;
}

.sidebar-wrapper {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(auto-fit, 1rem);
    gap: 1.5rem;
}

.sidebar-wrapper>h1 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30% 1fr;
    align-items: center;
}

h1>svg {
    fill: var(--white-color);
    height: 5rem;
    place-self: end;
    margin-right: 1rem;
}

.sidebar-wrapper>h1 {
    grid-row: 1;
    color: var(--white-color);
}

.sidebar-wrapper>a,
.sidebar-wrapper>div {
    grid-column: 1;
    color: var(--white-color);
    text-decoration: none;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30% 1fr;
}

a>svg {
    grid-column: 1;
    fill: var(--white-color);
    height: 2rem;
    place-self: end;
    margin-right: 1rem;
}


/* -------------------------------header---------------------------- */

.header {
    background-color: var(--white-color);
    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template: 2fr 3fr / 3fr 2fr;
    padding-left: var(--left-to-dashboard);
}

.search-bar {
    grid-column: 1 / 2;
    grid-row: 1;
    align-self: center;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 6rem 1fr;
}

.search-bar>svg {
    height: 2rem;
    place-self: start;
    margin-right: 1rem;
}

input[type=text] {
    border: none;
    background-color: var(--light-grey-color);
    border-radius: 2rem;
    justify-self: start;
    padding: 0.2rem 1rem;
}

.user {
    grid-column: 2;
    grid-row: 1 / 3;

    display: grid;
    grid-template: 2fr 3fr / 1fr;
}

.info {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.info>a>svg {
    grid-column: 1;
    fill: var(--black);

}

.greetings {
    grid-column: 1;
    grid-row: 2;

    display: grid;
    grid-template: 1fr 1fr / 1fr 4fr;
    grid-auto-flow: column;
}

.greetings>img {
    grid-column: 1;
    grid-row: 1 / 3;
    align-self: center;
}

.greetings>p:nth-child(2) {
    margin: 0;
    grid-row: 1;
    display: grid;
    place-self: end start;
}

.greetings>p:last-child {
    margin: 0;
    grid-row: 2;
    place-self: start start;
}

.buttons {
    grid-row: 2;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 0.6rem;
}

.button {
    margin: auto;
    background-color: var(--light-blue-color);
    color: var(--white-color);
    text-decoration: none;
    padding: 0.6rem 2rem;
    margin: 0 1rem;
    border-radius: 2rem;
}

/* ------------------------main------------------------------ */
.main {
    grid-column: 2;
    grid-row: 2 / 3;

    display: grid;
    grid-template: repeat(6, 1fr) / 4fr 1fr;
    gap: 1rem;
    margin: 2rem;
}

.projects {
    grid-column: 1;
    grid-row: 1 / 7;

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 1rem;
}

.card {
    background-color: var(--white-color);
}

.announcements {
    background-color: var(--white-color);
    grid-column: 2;
    grid-row: 1 / 4;
}

.trending {
    background-color: var(--white-color);
    grid-column: 2;
    grid-row: 4 / 7;
}